.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(219, 219, 219, 0.719);
  color: white;
  text-align: center;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

p {
  color: black;
}

.highlight {
  background-color: lightcoral;
}
